<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<html lang="en" class="h-100">


<head th:replace="fragments/head :: head(~{this :: title})">
    <title>Nazwa Firmy - Register</title>
</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">Sign up your account</h4>
                                    <form role="form" method="POST" th:action="@{/register}" th:object="${user}">
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6">
                                                <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label><strong>First Name</strong></label>
                                            <input type="text" class="form-control" placeholder="First Name" th:field="*{firstname}" id="firstname">
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Last Name</strong></label>
                                            <input type="text" class="form-control" placeholder="Last Name" th:field="*{lastname}" id="lastname">
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Email</strong></label>
                                            <input type="email" th:field="*{email}" class="form-control" id="email"
                                                   placeholder="username@example.com" required>
                                            <div class="form-control-feedback">
                                                <span class="text-danger align-middle" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Password</strong></label>
                                            <input type="password" th:field="*{password}" class="form-control" id="password"
                                                   placeholder="Password" required>
                                            <div class="form-control-feedback">
                                                <span class="text-danger align-middle" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                                            </div>
                                        </div>
                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn btn-primary btn-block">Sign me up</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p>Already have an account? <a class="text-primary" href="/login.html" th:href="@{/login}">Sign in</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>
    <script src="js/quixnav-init.js"></script>
    <!--endRemoveIf(production)-->
</body>


</html>