<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<html lang="en">

<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:replace="${title}">Wypożyczalnia Projekt</title>


    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png" th:href="@{/images/favicon.png}" >
    <link rel="stylesheet" href="vendor/owl-carousel/css/owl.carousel.min.css" th:href="@{/vendor/owl-carousel/css/owl.carousel.min.css}" >
    <link rel="stylesheet" href="vendor/owl-carousel/css/owl.theme.default.min.css" th:href="@{/vendor/owl-carousel/css/owl.theme.default.min.css}" >
    <link rel="stylesheet" href="vendor/jqvmap/css/jqvmap.min.css" th:href="@{/vendor/jqvmap/css/jqvmap.min.css}" >
    <link rel="stylesheet" href="vendor/datatables/css/jquery.dataTables.min.css" th:href="@{/vendor/datatables/css/jquery.dataTables.min.css}" >
    <link rel="stylesheet" href="vendor/jquery-steps/css/jquery.steps.css" th:href="@{/vendor/jquery-steps/css/jquery.steps.css}">

    <link rel="stylesheet" href="vendor/jquery-asColorPicker/css/asColorPicker.min.css" th:href="@{/vendor/jquery-asColorPicker/css/asColorPicker.min.css}" >


    <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}" >



</head>
<body>

</body>
</html>