<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<html lang="en">
<head></head>
<body>
<div class="quixnav" th:fragment="sidebar">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Strony:</li>
            <li><a href="employeeList" th:href="@{/employeeList}" >employeeList</a></li>

            <li class="nav-label first"></li>
            <li class="nav-label first"></li>
            <li class="nav-label first"></li>

            <li class="nav-label first">Main Menu</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
                <ul aria-expanded="false">
                    <li><a href="index-2.html" th:href="@{/index-2}" >Dashboard 1</a></li>
                    <li><a href="index2.html" th:href="@{/index2}" >Dashboard 2</a></li>
                </ul>
            </li>
            <li class="nav-label">Apps</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="icon icon-app-store"></i><span class="nav-text">Apps</span></a>
                <ul aria-expanded="false">
                    <li><a href="test/app-profile.html" th:href="@{/app-profile}" >Profile</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Email</a>
                        <ul aria-expanded="false">
                            <li><a href="test/email-compose.html" th:href="@{/email-compose}">Compose</a></li>
                            <li><a href="test/email-inbox.html" th:href="@{/email-inbox}">Inbox</a></li>
                            <li><a href="test/email-read.html" th:href="@{/email-read}">Read</a></li>
                        </ul>
                    </li>
                    <li><a href="test/app-calender.html" th:href="@{/app-calender}" >Calendar</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="icon icon-chart-bar-33"></i><span class="nav-text">Charts</span></a>
                <ul aria-expanded="false">
                    <li><a href="test/chart-flot.html" th:href="@{/chart-flot}" >Flot</a></li>
                    <li><a href="test/chart-morris.html" th:href="@{/chart-morris}" >Morris</a></li>
                    <li><a href="test/chart-chartjs.html" th:href="@{/chart-chartjs}" >Chartjs</a></li>
                    <li><a href="test/chart-chartist.html" th:href="@{/chart-chartist}" >Chartist</a></li>
                    <li><a href="test/chart-sparkline.html" th:href="@{/chart-sparkline}" >Sparkline</a></li>
                    <li><a href="test/chart-peity.html" th:href="@{/chart-peity}" >Peity</a></li>
                </ul>
            </li>
            <li class="nav-label">Components</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="icon icon-world-2"></i><span class="nav-text">Bootstrap</span></a>
                <ul aria-expanded="false">
                    <li><a href="test/ui-accordion.html" th:href="@{/ui-accordion}" >Accordion</a></li>
                    <li><a href="test/ui-alert.html" th:href="@{/ui-alert}" >Alert</a></li>
                    <li><a href="test/ui-badge.html" th:href="@{/ui-badge}" >Badge</a></li>
                    <li><a href="test/ui-button.html" th:href="@{/ui-button}" >Button</a></li>
                    <li><a href="test/ui-modal.html" th:href="@{/ui-modal}" >Modal</a></li>
                    <li><a href="test/ui-button-group.html" th:href="@{/ui-button-group}" >Button Group</a></li>
                    <li><a href="test/ui-list-group.html" th:href="@{/ui-list-group}" >List Group</a></li>
                    <li><a href="test/ui-media-object.html" th:href="@{/ui-media-object}" >Media Object</a></li>
                    <li><a href="test/ui-card.html" th:href="@{/ui-card}" >Cards</a></li>
                    <li><a href="test/ui-carousel.html" th:href="@{/ui-carousel}" >Carousel</a></li>
                    <li><a href="test/ui-dropdown.html" th:href="@{/ui-dropdown}" >Dropdown</a></li>
                    <li><a href="test/ui-popover.html" th:href="@{/ui-popover}" >Popover</a></li>
                    <li><a href="test/ui-progressbar.html" th:href="@{/ui-progressbar}" >Progressbar</a></li>
                    <li><a href="test/ui-tab.html" th:href="@{/ui-tab}" >Tab</a></li>
                    <li><a href="test/ui-typography.html" th:href="@{/ui-typography}" >Typography</a></li>
                    <li><a href="test/ui-pagination.html" th:href="@{/ui-pagination}" >Pagination</a></li>
                    <li><a href="test/ui-grid.html" th:href="@{/ui-grid}" >Grid</a></li>

                </ul>
            </li>

            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="icon icon-plug"></i><span class="nav-text">Plugins</span></a>
                <ul aria-expanded="false">
                    <li><a href="test/uc-select2.html" th:href="@{/uc-select2}" >Select 2</a></li>
                    <li><a href="test/uc-nestable.html" th:href="@{/uc-nestable}" >Nestedable</a></li>
                    <li><a href="test/uc-noui-slider.html" th:href="@{/uc-noui-slider}" >Noui Slider</a></li>
                    <li><a href="test/uc-sweetalert.html" th:href="@{/uc-sweetalert}" >Sweet Alert</a></li>
                    <li><a href="test/uc-toastr.html" th:href="@{/uc-toastr}" >Toastr</a></li>
                    <li><a href="test/map-jqvmap.html" th:href="@{/uc-jqvmap}" >Jqv Map</a></li>
                </ul>
            </li>
            <li><a href="test/widget-basic.html" aria-expanded="false" th:href="@{/widget-basic}"  ><i class="icon icon-globe-2"></i><span
                    class="nav-text">Widget</span></a></li>
            <li class="nav-label">Forms</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="icon icon-form"></i><span class="nav-text">Forms</span></a>
                <ul aria-expanded="false">
                    <li><a href="test/form-element.html" th:href="@{/form-element}" >Form Elements</a></li>
                    <li><a href="test/form-wizard.html" th:href="@{/form-wizard}" >Wizard</a></li>
                    <li><a href="test/form-editor-summernote.html" th:href="@{/form-editor-summernote}" >Summernote</a></li>
                    <li><a href="test/form-pickers.html" th:href="@{/form-pickers}" >Pickers</a></li>
                    <li><a href="test/form-validation-jquery.html" th:href="@{/form-validation-jquery}" >Jquery Validate</a></li>
                </ul>
            </li>
            <li class="nav-label">Table</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="icon icon-layout-25"></i><span class="nav-text">Table</span></a>
                <ul aria-expanded="false">
                    <li><a href="test/table-bootstrap-basic.html" th:href="@{/table-bootstrap-basic}">Bootstrap</a></li>
                    <li><a href="test/table-datatable-basic.html" th:href="@{/table-datatable-basic}">Datatable</a></li>
                </ul>
            </li>

            <li class="nav-label">Extra</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="icon icon-single-copy-06"></i><span class="nav-text">Pages</span></a>
                <ul aria-expanded="false">
                    <li><a href="test/page-register.html" th:href="@{/page-register}" >Register</a></li>
                    <li><a href="test/page-login.html" th:href="@{/page-login}" >Login</a></li>
                    <li><a class="has-arrow" href="test/javascript:void()" aria-expanded="false">Error</a>
                        <ul aria-expanded="false">
                            <li><a href="test/page-error-400.html" th:href="@{/page-error-400}" >Error 400</a></li>
                            <li><a href="test/page-error-403.html" th:href="@{/page-error-403}" >Error 403</a></li>
                            <li><a href="test/page-error-404.html" th:href="@{/page-error-404}" >Error 404</a></li>
                            <li><a href="test/page-error-500.html" th:href="@{/page-error-500}" >Error 500</a></li>
                            <li><a href="test/page-error-503.html" th:href="@{/page-error-503}" >Error 503</a></li>
                        </ul>
                    </li>
                    <li><a href="test/page-lock-screen.html" th:href="@{/page-lock-screen}" >Lock Screen</a></li>
                </ul>
            </li>
        </ul>
    </div>


</div>
</body>
</html>