<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<html lang="en">


<head th:replace="fragments/head :: head(~{this :: title})">
    <title>BOOKING</title>
</head>


<body>

<!--*******************
    Preloader start
********************-->
<div th:replace="fragments/preloader :: preloader"></div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div th:replace="fragments/header :: header"></div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">


            <!--**********************************
                    PUT CONTENT HERE
            ***********************************-->

            <!--****************************************************************************************************************************-->
            <!--**********************************
                        <form action="#" th:action="@{/reservation}" th:object="${???????????????????? }" method="post">
                ***********************************-->
            <form action="#" th:action="@{/booking}" th:object="${bookingForm}" method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Pick-up location</label>
                    </div>

                    <select class="custom-select" id="inputGroupSelect01" name="branch.town">

                        <option selected>Choose...</option>
                        <tr th:each="branch: ${branchList}">

                            <option value="1">
                                <td th:text="${branch.town}"  />
                                </a></option>
                        </tr>

                    </select>
                </div>
                <div>
                    <label>Pick-up date</label>
                    <input type="datetime-local" th:field="*{fromDate}">
                    <label>Drop-off date</label>
                    <input type="datetime-local" th:field="*{toDate}">
                </div>
                <input class="btn btn-success pull-left" type="submit" value="NEXT" id="searchButton">
            </form>
            <!--**********************************
                        </form>
                ***********************************-->

        </div>
        <!--**********************************
                    END OF CONTENT
            ***********************************-->
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->


<!--**********************************
    Footer start
***********************************-->
<div th:replace="fragments/footer :: footer"></div>
<!--**********************************
    Footer end
***********************************-->

<!--**********************************
   Support ticket button start
***********************************-->

<!--**********************************
   Support ticket button end
***********************************-->


</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<div th:replace="fragments/js :: js"></div>

</body>


</html>