<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<html lang="en">


<head th:replace="fragments/head :: head(~{this :: title})">
    <title>BOOKING</title>
</head>


<body>

<!--*******************
    Preloader start
********************-->
<div th:replace="fragments/preloader :: preloader"></div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div th:replace="fragments/header :: header"></div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">


            <!--**********************************
                    PUT CONTENT HERE
            ***********************************-->

            <!--****************************************************************************************************************************-->
            <!--**********************************
                        <form action="#" th:action="@{/reservation}" th:object="${???????????????????? }" method="post">
                ***********************************-->
            <form action="#" th:action="@{/booking}" th:object="${bookingForm}" method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Pick-up location</label>
                    </div>
                    <select class="custom-select" th:field="*{pickupBranchId}">
                        <option th:value="-1" selected>Choose...</option>
                        <option th:each="branch: ${branchList}" th:value="${branch.id}" th:text="${branch.town}"/>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Drop-off location</label>
                    </div>
                    <select class="custom-select" th:field="*{dropOffBranchId}">
                        <option th:value="-1" selected>Choose...</option>
                        <option th:each="branch: ${branchList}" th:value="${branch.id}" th:text="${branch.town}"/>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Car</label>
                    </div>
                    <select class="custom-select" th:field="*{carId}">
                        <option th:value="-1" selected>Choose...</option>
                        <option th:each="car: ${carList}" th:value="${car.id}" th:text="${car.make + ' ' + car.model}"/>
                    </select>
                </div>

                <div>
                    <label>Pick-up date</label>
                    <input type="date" th:field="*{from}">
                    <label>Drop-off date</label>
                    <input type="date" th:field="*{to}">
                </div>
                <input class="btn btn-success pull-left" type="submit" value="Save">
            </form>
            <!--**********************************
                        </form>
                ***********************************-->

        </div>
        <!--**********************************
                    END OF CONTENT
            ***********************************-->
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->


<!--**********************************
    Footer start
***********************************-->
<div th:replace="fragments/footer :: footer"></div>
<!--**********************************
    Footer end
***********************************-->

<!--**********************************
   Support ticket button start
***********************************-->

<!--**********************************
   Support ticket button end
***********************************-->


</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<div th:replace="fragments/js :: js"></div>

</body>


</html>