<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Car</title>
</head>
<body>
<div th:align="center">
    <h1>Add New Car</h1>
    <br><br>
    <form action="#" th:action="@{/saveCar}" th:object="${car}" method="post">
        <table border="0"; cellpadding="10">
            <tr>
                <td>Make</td>
                <td><input type="text" th:field="*{make}"/></td>
            </tr>
            <tr>
                <td>Model</td>
                <td><input type="text" th:field="*{model}"/></td>
            </tr>
            <tr>
                <td>Body</td>
                <td><input type="text" th:field="*{body}"/></td>
            </tr>
            <tr>
                <td>Year</td>
                <td><input type="text" th:field="*{year}"/></td>
            </tr>
            <tr>
                <td>Color</td>
                <td><input type="text" th:field="*{color}"/></td>
            </tr>
            <tr>
                <td>Millage</td>
                <td><input type="text" th:field="*{millage}"/></td>
            </tr>
            <tr>
                <td>Status</td>
                <td><input type="text" th:field="*{status}"/></td>
            </tr>
            <tr>
                <td>Available</td>
                <td><input type="text" th:field="*{available}"/></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" th:field="*{price}"/></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>

    </form>
</div>

</body>
</html>