<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<html lang="en">


<head th:replace="fragments/head :: head(~{this :: title})">
    <title>Nazwa Firmy - Lista Samochodów</title>
</head>


<body>

    <!--*******************
        Preloader start
    ********************-->
    <div th:replace="fragments/preloader :: preloader"></div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div th:replace="fragments/header :: header"></div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Hi, welcome back!</h4>
                            <span class="ml-1">Datatable</span>
                            <div sec:authorize="hasAnyAuthority('ADMIN', 'EMPL', 'MANAGER')">
                                This content is only shown to ADMIN, EMPL, MANAGER.
                            </div>

                            <div sec:authorize="hasAuthority('USER')">
                                This content is only shown to users.
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Datatable</a></li>
                        </ol>
                    </div>
                </div>



                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Datatable</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example" class="display" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Marka</th>
                                            <th>Model</th>
                                            <th>Typ Nadwozia</th>
                                            <th>Rocznik</th>
                                            <th>Kolor</th>
                                            <th>Przebieg</th>
                                            <th>Status</th>
                                            <th>Available</th>
                                            <th>Kwota</th>

                                            <th sec:authorize="hasAnyAuthority('ADMIN', 'EMPL', 'MANAGER')">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="car : ${carList}">
                                            <td th:text="${car.id}"></td>
                                            <td th:text="${car.make}"></td>
                                            <td th:text="${car.model}"></td>
                                            <td th:text="${car.body}"></td>
                                            <td th:text="${car.year}"></td>
                                            <td th:text="${car.color}"></td>
                                            <td th:text="${car.millage}"></td>
                                            <td th:text="${car.status}"></td>
                                            <td th:text="${car.available}"></td>
                                            <td th:text="${car.price}"></td>
                                            <td sec:authorize="hasAnyAuthority('ADMIN', 'EMPL', 'MANAGER')">
                                                <a href="#" th:href="@{/car/addCar/{id}(id=${car.id})}">
                                                    <button type="button" class="btn btn-rounded btn-warning"><i class="fa fa-warning"></i></button>
                                                </a>
                                                <button type="button" class="btn btn-rounded btn-danger" data-toggle="modal" data-target="#deleteModal">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                                <!-- delete modal -->
                                                <div class="modal" id="deleteModal">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" >Are you sure you want to delete car #<span th:text="${car.id}"></span>?</h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>
                                                            <div class="modal-body">There is no turning back</div>
                                                            <div class="modal-footer">
                                                                <form th:action="@{/car/deleteCar/{id}(id=${car.id})}" method="post">
                                                                    <input type="submit" class="btn btn-danger pull-left" value="Yes"/>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- delete modal -->
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Marka</th>
                                            <th>Model</th>
                                            <th>Typ Nadwozia</th>
                                            <th>Rocznik</th>
                                            <th>Kolor</th>
                                            <th>Przebieg</th>
                                            <th>Status</th>
                                            <th>Available</th>
                                            <th>Kwota</th>
                                            <th sec:authorize="hasAnyAuthority('ADMIN', 'EMPL', 'MANAGER')">Action</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')">
                            <a href="/car/addCar" th:href="@{/car/addCar}"><button type="button" class="btn btn-rounded btn-info"><span class="btn-icon-left text-info"><i class="fa fa-plus color-info"></i>
                                    </span>Add</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div th:replace="fragments/footer :: footer"></div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <div th:replace="fragments/js :: js"></div>

</body>


</html>